:root {
  --unit: 10px;
  --animation-duration: 300ms;
  --animation-easing: ease-out;
  --ring-invisible-element-z-index: ;
  --z-index: 10;
}

.alert {
  position: relative;
  z-index: var(--z-index);

  display: flex;
  align-items: baseline;

  box-sizing: border-box;
  min-height: calc(var(--unit) * 5);
  margin: var(--unit) auto;
  padding: 0 calc(var(--unit) * 2);

  transition:
      transform var(--animation-duration) var(--animation-easing),
      margin-bottom var(--animation-duration) var(--animation-easing),
      opacity, var(--animation-duration) var(--animation-easing);
  white-space: nowrap;
  pointer-events: auto;

  background-color: #d9d9d9;
}

.caption {
  overflow: hidden;

  max-width: calc(100% - calc(var(--unit) * 5));

  margin: 12px 0;

  white-space: normal;

  color: var(--ring-active-text-color);

  line-height: 20px;
}

@keyframes show {
  from {
      transform: translateY(100%);
      opacity: 0;
  }

  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.animationOpen {
  animation-name: show;
  animation-duration: var(--animation-duration);
}

.animationClosing {
  z-index: calc(var(--z-index) - 5);
  opacity: 0;
}







.alertContainer {
  position: fixed;
  z-index: var(--z-index);
  right: calc(var(--unit) * 2);
  bottom: calc(var(--unit));

  display: flex;
  overflow: visible;
  align-items: flex-end;
  flex-direction: column;

  pointer-events: none;
}

.alertInContainer {
  min-width: calc(var(--unit) * 30);
  max-width: calc(var(--unit) * 50);
  margin-top: 0;
}